@font-face {
  font-family: "Montserrat thin";
  src: url(../fonts/montserrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: "Montserrat medium";
  src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Nunito sans";
  src: url(../fonts/nunitosans/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: "worksans";
  src: url(../fonts/worksans/WorkSans-Regular.ttf);
}
@font-face{
  font-family: "Roboto medium";
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
